.container {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/billy-huynh-W8KTS-mhFUE-unsplash.jpg");
}

.panel {
  width: "250px";
}

.listing-expanded {
  width: "68%";
  margin-left: "9px";
  margin-top: "15px";
}

.listing-collapsed {
  width: "100%";
  margin-left: "9px";
  margin-top: "15px";
}
