.container {
  margin-top: 0px;
  width: 100%;
  background-image: url("../../assets/billy-huynh-W8KTS-mhFUE-unsplash.jpg");
}

.wrapper {
  width: 100%;
  padding: 9px;
  display: flex;
  min-height: calc(100vh - 5rem);
  overflow-y: auto;
  margin-top: 25px;
}

.main {
  display: flex;
  width: 100%;
  align-items: left;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 9px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 30%;
  margin-top: 1%;
}

ul li {
  font-size: 20px;
}
