.slimText {
  font-size: 0.666em;
  color: #97969b;
  font-weight: lighter;
  padding-bottom: 5;
}

.styleCenter {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  height: "60px";
}

.dataStyle {
  align-items: "left";
  font-size: "1.2em";
  font-weight: 500;
}
